.dm-slide {
  font-size: 1rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 1.2em;

    &__subtitle {
      display: block !important;
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: $lh-condensed-computed;
    margin-bottom: $lh-condensed-computed;
  }
}