.dm-slide .dm-fragment {
  display: block;
  max-width: 80%;
  width: 100%;
  margin: 0 auto $lh-normal-computed;

  font-size: 1rem;
  font-family: $ff-base;

  code {
    display: inline-block;
    padding: 0 rem(3px);
    color: $royal-blue;
  }
}