extends ~layouts/columns

block title
    | Actions

block content
    +slide_column(40)
        +code('src/actions.js', 'javascript')
            include:escape ./actions.jsx

    +slide_column()
        +fragment()
            | Actions are the messages that tell the store there's a need to change state

        +code_focus('2-5').current-only
            :markdown-it
                Action is a plain JS object

        +code_focus('3').current-only
            :markdown-it
                Action must have a `type` property

        +code_focus('4').current-only
            :markdown-it
                Usually there is some data attached to the action.

        +code_focus('8-13').current-only
            :markdown-it
                To avoid mistakes, like typos, action objects are returned by functions - called **action creators**

