extends ~layouts/columns

block title
    | Reducer

block content
    +slide_column()
        +code('src/reducer.js', 'javascript')
            include:escape ./reducer.jsx

        +fragment().current-only
            | Reducers are called by Redux every time an action is dispatched

        +code_focus('1').current-only
            :markdown-it
                Reducer is just a function.
                It is important that it is a **pure function** (a function that has no side-effects):
                it should always return new state object and not change anything outside of the function

        +code_focus('1').current-only
            :markdown-it
                It takes two arguments: the current state and the dispatched action

        +code_focus('1').current-only
            :markdown-it
                Initially there will be no state, so the default value is provided

        +code_focus('2-11').current-only
            :markdown-it
                Every relevant action will be handled in this swtich statement depending on it's type

        +code_focus('3-4').current-only
            :markdown-it
                The `DEPOSIT` action will increase the balance by a certain amount.

                The origial state is not modified here; a new object is returned instead.

        +code_focus('9-10').current-only
            :markdown-it
                In case the action that has been dispatched
                doesn't match any action handler defined in this reducer,
                the current state will be returned by default.