extends ~layouts/columns

block title
    | The store

block content
    +slide_column()
        +code('src/app.js', 'javascript')
            include:escape ./store.jsx

    +slide_column()
        +fragment()
         | Store is the centerpiece of redux.
         | It glues state, actions and reducers together.
         | There will be only one store per application.

        +code_focus('5').current-only
            :markdown-it
                Create the store using the `createStore` funciton from `redux`.
                It takes the reducer as first argument.

        +code_focus('7-12').current-only
            :markdown-it
                Use the `subscribe` method and pass in a callback.
                The callback will be called after every dispatched action.

        +code_focus('8').current-only
            :markdown-it
                You can access the current application state using the `getState` method.

        +code_focus('13-15').current-only
            :markdown-it
                Use the `dispatch` method to run some actions against the store.