extends ~layouts/columns

block title
    | Just a function

block content
    +slide_column(50)
        +code('src/App.js', 'javascript')
            :escape
                import React from 'react'

                function App() {
                    return (
                        <h1>Hello DevMeetings!</h1>
                    )
                }

                export default App


    +slide_column(50).l-column-fit
        img(src=require('slides/project_setup/first_component/first_component.png')).l-island

        +code_focus('1').current-only
            :markdown-it
                Even though we are not using the `React` variable directly, it has to be included to use the JSX syntax

        +code_focus('3-7').current-only
            :markdown-it
                Most common React components are just simple functions that return some markup

        +code_focus('5').current-only
            | return JSX

        +code_focus('9').current-only
            :markdown-it
                Make sure the function is exported from the file, so we can use it in other files.