extends ~layouts/single_column

block title
    | Tasks

block content
    :markdown-it

        1. [basic] Add searching the contacts by name
        2. [basic] Change search to include all fields
        3. [optional] Add button to sort the contacts alphabetically. Clicking it should toggle sorting direction.
        4. [optional] Add an icon the the button (↑/↓) to indicate sorting direction.


