extends ~layouts/columns

block title
    | Module #3 Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Add searching the contacts by name

            +task('basic')
                | Change search to include all fields

            +task('optional')
                | Add button to sort the contacts alphabetically. Clicking it should toggle sorting direction.

            +task('optional')
                | Add an icon the the button (↑/↓) to indicate sorting direction.