include ../mixins/code-focus
include ../mixins/code-block
include ../mixins/fragment
include ../mixins/code
include ../mixins/slide
include ../mixins/column
include ../mixins/message_box
include ../mixins/task

block slide