extends ~layouts/columns

block title
    | Desired API

block content
    +slide_column(65)
        +code('src/App.js', 'javascript')
            include:escape ./app.jsx

    +slide_column().l-column-middle
        +code_focus('25-33').current-only
            :markdown-it
                Use the `Array.map` method to iterate over product and create JSX for each of them

        +code_focus('29-30').current-only
            :markdown-it
                Render the `ProductTile` component. Current product will passed to the component as `item`.

        +code_focus('29-30').current-only
            :markdown-it
                There's a new property: `key`. It's used by React to distinguish objects and should be unique in the list.

        +code_focus('1').current-only
            :markdown-it
                Remember to import the `ProductTile` component
