extends ~layouts/columns

block title
    | Single product component

block content
    +slide_column(60)
        +code('src/Product.js', 'javascript')
            include:escape ./productTile.jsx

    +slide_column().l-column-middle
        +code_focus('3-13').current-only
            :markdown-it
                The component is simple enough to be a function

        +code_focus('3').current-only
            :markdown-it
                This function will recieve a `props` object as first argument.
                Keys of this object will map directly to attribute names used by the parent:

                ```js
                   <ProductTile item={ product } />
                ```

        +code_focus('3').current-only
            :markdown-it
                Destructuring the `props` object in functional components is one of the most common patterns in React

                ```js
                   function ProductTile({ item }) { ... }
                ```

        +code_focus('1').current-only
            :markdown-it
                The React lib has to be included in every file that uses JSX

        +code_focus('15').current-only
            :markdown-it
                Export the component function so that it can be used elswhere
