extends ~layouts/columns

block title
    | Connecting store and components

block content
    +slide_column(50)
        +code('src/reducer.js', 'javascript')
            include:escape ./app.jsx

    +slide_column().l-column-middle

        +code_focus('4-10').current-only
            :markdown-it
                A simple component that displays the current balance

        +code_focus('12-16').current-only
            :markdown-it
                The `mapStateToProps` function will be called everytime the application state changes.


        +code_focus('13-15').current-only
            :markdown-it
                It's job is to return props for the component.

        +code_focus('4').current-only
            :markdown-it
                The component will receive props provided by `mapStateToProps`

        +code_focus('18').current-only
            :markdown-it
                Component and the function are connected via the `connect` utility from `react-redux`