extends ~layouts/columns

block title
    | Dispatching actions

block content
    +slide_column(50)
        +code('src/reducer.js', 'javascript')
            include:escape ./dispatch.jsx

    +slide_column().l-column-middle
        +code_focus('5-24').current-only
            :markdown-it
                A simple component that displays the current balance

        +code_focus('26-30').current-only
            :markdown-it
                The balance is provided by `mapStateToProps` function

        +code_focus('7-9').current-only
            :markdown-it
                Clicking a button will result in action being called

        +code_focus('8').current-only
            :markdown-it
                The action is created by an action creator: `DepositAction`/`WithdrawAction`

        +code_focus('8').current-only
            :markdown-it
                The `connect` function also provides the store's `dispatch` method in props