extends ~layouts/columns

block title
    | Jump right into react

block content
    +slide_column().l-column-middle.l-column-fit
        .dm-fragment
            +code('You\'ll need node version >= 4', 'bash', 'block')
                | > node -v
                | v6.9.5

        +fragment()
            +code('Install create-react-app package globally', 'bash', 'block')
                | > npm install -g create-react-app

        +fragment()
            +code('Create a new app', 'bash', 'block')
                | > create-react-app react-workshop
                | Creating a new React app...
                | Happy hacking!

        +fragment()
            +code('Start the application', 'bash', 'block')
                | > npm start
