extends ~layouts/columns

block title
    | Module #5 Tasks

block content
    +slide_column()
        +task('basic')
            :markdown-it
                Setup Redux: create store, wrap the application in `Provider`, and `connect` main component

        +task('basic')
            | Move all contacts data to the store

        +task('basic')
            | Add the ability to mark a contact as favourite

        +task('optional')
            | Mark some contacts as favourites and show them on separate list

        +task('optional')
            | Add the ability to remove contacts

        +task('optional')
            | Add the ability to add new contacts

