extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        :markdown-it
            1. [basic] Setup Redux: create store, wrap the application in `Provider`, and `connect` main component

            2. [basic] All contacts should be kept in the store

            3. [basic] Add the ability to mark a contact as favourite

            4. [advanced] Add the ability to remove contacts

            5. [advanced] Add the ability to add new contacts

