extends ~layouts/columns

block title
    | Loading data from server

block content
    +slide_column(60)
        +code('src/AsyncList.js', 'javascript')
            include:escape ./async_state.jsx

    +slide_column(40).l-column-middle

        +code_focus('3-4').current-only
            :markdown-it
                Instead of posts being hardcoded in the component, they will be fetched from the server

        +code_focus('2-5').current-only
            :markdown-it
                Side effects like Ajax requests are best placed in the `componentDidMount` lifecycle hook

        +code_focus('8-12').current-only
            :markdown-it
                If the posts are loaded (the `posts` property exists on state) the list will be shown

        +code_focus('14').current-only
            :markdown-it
                Otherwise the component will render a loading indicator.