extends ~layouts/columns

block title
    | Arrow functions

block content
    +slide_column(60)
        +code(null, 'javascript')
            include:escape ./arrow_fn.js

    +slide_column().l-column-middle

        +code_focus('1-3').current-only
            :markdown-it
                It is just a new syntax for writing functions; drop the `function` keyword and add `=>` (arrow) symbol.

        +code_focus('5').current-only
            :markdown-it
                If the arrow function takes just one argument the parenthesis can be dropped

        +code_focus('5').current-only
            :markdown-it
                If it has just one line, the `return` keyword and brackets can be dropped

        +code_focus('1-5').current-only
            :markdown-it
                Functions `square` and `square2` are exactly the same

        +code_focus('7').current-only
            :markdown-it
                It can be used in any context: eg. callback

