extends ~layouts/single_column

block title
    | Tasks

block content
    :markdown-it

        1. [basic] Create a single contact component
        2. [basic] Create a component for list of products
        3. [optional] Add tags to the contact component
        4. [optional] Mark some contacts as favourites and show them on separate list

