extends ~layouts/columns

block title
    | Adding links

block content
    +slide_column(60)
        +code('src/App.js', 'javascript')
            :escape
                import React from 'react'
                import { BrowserRouter, Route, Link } from 'react-router-dom'

                import HomePageComponent from './components/home'
                import ContactsPageComponent from './components/contact'

                function AppComponent() {
                    return (
                        <BrowserRouter>
                            <div>
                                <nav>
                                    <Link to="/home">Home</Link>
                                    <Link to="/contacts">Contacts</Link>
                                </nav>

                                <Route path="/home" component={HomePageComponent}></Route>
                                <Route path="/contacts" component={ContactsPageComponent}></Route>
                            </div>
                        </BrowserRouter>
                    )
                }

                export default AppComponent

    +slide_column(40).l-column-middle
        .l-column-fit
            +code_focus('2').current-only
                :markdown-it
                    Add the `Link` component to the list of imports

            +code_focus('12-13').current-only
                :markdown-it
                    The component will render a link with correct `href` and text.