extends ~layouts/single_column

block title
    | Tasks

block content
    :markdown-it
        1. [basic] Setup the Router with two pages:

            * home page with a title
            * contact list page

        2. [basic] Create a menu with links that displays on both pages

        3. [advanced] Add styles to active links

        4. [advanced] Add route for a single contact page

